/* CSS declarations go here */

@font-face {
  font-family: SanFrancisco-Thin;
  src: url("../font/thin.otf");
}

@font-face {
  font-family: SanFrancisco-Medium;
  src: url("../font/medium.otf");
}

@font-face {
  font-family: SanFrancisco-Light;
  src: url("../font/light.otf");
}

@font-face {
  font-family: SanFrancisco-Regular;
  src: url("../font/regular.otf");
}

@font-face {
  font-family: SanFrancisco-Ultralight;
  src: url("../font/ultralight.otf");
}

